build
mx.scratch
!.settings

# Common build dirs
Debug/
Release/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDE metadata
.metadata/
.vscode/
.idea/
.vs/

# Temp & backups
*.log
*.tmp
*.swp
*.swo
*~
*.bak
*.user
*.workspace